{% extends "base.html" %}
{% block head-extras %}{% include "content_head.html" %}{% endblock %}

{% block title %}Browse - Illustrations{% endblock %}




{% block content %}

<div class="content">

<h2>Illustrations</h2><?xml version="1.0"?>
<body onload="load_status(304, 'ILN-figure')" onunload="store_status(304, 'ILN-figure')"><noscript><i>Note: This site works best with Javascript enabled.</i><style type="text/css">
	ul.contents { display: block } 
        img.javascript { display: none }
      </style><p>Because you do not have Javascript running, you may prefer to browse <a href="volume.php" rel="alternate">volumes</a> separately.</p></noscript>

  
{% for volume in volumes %}
  <p>{{volume.head}}</a><font size="-1">
      - {{volume.docDate}}
     - ({% for key, value in fig_count_dict.items %}{% if key == volume.id %}{{value}}{% endif %}{% endfor %} Illustrations)</font></p>

  <table>
  {% for key, values in fig_url_dict.items %}
  {% if values.0 == volume.id %}
  <tr><td class="figure"><img
  src="http://beck.library.emory.edu/iln/image-content/ILN{{key}}.gif"
  alt="view image" title="{{values.1}}"/><b>{{values.1}}</b></p>{% endif %}{% endfor %}</td></tr>

</table>
</ul>
 </body>
{% endfor %}

<h2>Search Illustrations</h2>

<form name="ilnquery" action={% url "searchform" %} method="get">
<table class="searchform" border="0">
<tr><th>Keyword</th><td class="input"><input type="text" size="40" name="keyword"></td></tr>
<tr><th>Illustration Date</th><td class="input"><input type="text" size="40" name="article_date"></td></tr>
<tr><td></td><td><input type="submit" value="Submit"> <input type="reset" value="Reset"></td></tr>
</table>
</form>
  
</div>
  
{% endblock %}