{% extends "base.html" %}
{% block title %}Introduction{% endblock %}
{% block content %}
<div class="content"> 
  <h2>Editors' Introduction</h2>

   <p>We began work on this project in 1988. Following a lead from a
   publishing colleague, I contacted an antiquarian book dealer, who
   was able to acquire the ten bound volumes of the <i>Illustrated London
   News</i> that encompassed the Civil War years. Each volume covers six
   months: January - June and July - December. The newspaper was
   published every Saturday and, of course, contained a great deal
   more than the news from America. Our plan was to go through the
   volumes line by line and select all the material that pertained to
   the Civil War, American social history, and political history.</p>

   <p>We started the selection of material, photocopying the requisite
   pages, and rekeying the text from the selected passages. The first volume and part of the
   second had been finished before the computer hard drive crashed. In
   the move to Georgia, the disks disappeared. </p>
    
    <p>In 2000, we partnered with the Beck Center in order to produce an electronic version of the American material. We still had to photocopy the chosen pages and mark off the passages selected. However, after rekeying the text from the first volume, scanning technology had so improved that the pages could be effectively scanned thereafter. The Beck Center staff used optical character recognition (OCR) to produce a digital version of the text, which they then proofread and encoded using the Text Encoding Initiative standard.</p>
 
 <p>We photographed the images using a large-format camera with a Phase One scanning back.  The library stores the images as 300 dpi, 24-bit color tiffs; the site presents them as jpegs.</p>

   <p>Bound volumes of newspapers from the nineteenth century, much
   like magazines of the period, often vary from one copy to
   another. The title pages in the volumes from which this material
   has been drawn were added when the weekly issues were bound. On the
   verso of some title pages is an index to the engravings for the
   six-month period, though most of the volumes contain a separate
   index page with the engravings listed on both recto and verso. Many
   publications had special supplements, issues of different sizes,
   and loose folded supplements, sometimes in color. This particular
   set of volumes seems to include all the special supplements, which
   continue the pagination of the weekly issues. What are not 
   present are the infrequently issued loose supplements, often folded
   maps or colored engravings. Though these would be of interest, the
   contemporary editorials, news items, firsthand reports from
   America, and the spirited illustrations, usually based on sketches
   taken at the scene, provide a compelling and remarkably even-handed
   portrayal of the period.</p>

   <p>The material was originally published in an 11" x 15
   &#x00BE;" format in three columns and many different type
   sizes and fonts. For greater ease in reading, this version does not
   retain those variations in size and style. The text has been
   proofread at least twice against the original. Volume number, issue number, page
   number, and date (month, day, and year) of the original precede each
   entry. The illustrations adhere to the placement in the text of the
   newspaper as closely as possible.</p>

   <div align="right">-- Sandra J. Still and Emily
   E. Katt</div>

</div> <!-- content -->

{% endblock %}
